Located in {{property.city}}, this {{property.bedrooms}} bedroom {{property.type}} is available by arrangement through {{property.owner}}.
<br>
<p><img src={{property.image}} alt={{property.type}}></p>

<button {{action "delete" property}}>Delete</button>
